::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #19202d;
}

::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 30px;
    width: 8px;
    border: 2.5px solid #19202d;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}
