<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hordes</title>
        <link rel="stylesheet" href="../css/style.css" />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self';"
        />
    </head>

    <body>
        <div id="bg"></div>
        <div id="content">
            <div id="leftCol">
                <div class="animMenu" id= "moreMenu">
                    <button class="bigButton menuButton" id="more">
                        More
                    </button>
                    <div class="infoMenu">
                        <a
                            href="https://hordes.io/worldeditor"
                            class="menuHeader"
                        >
                            <img
                                src="../images/ui/mountain.svg"
                                alt=""
                                height="50px"
                            />World Editor</a
                        >
                    </div>
                </div>
            </div>
            <div id="centerCol">
                <ul id="playerList"></ul>
                <div class="bottom">
                    <button id="play" class="bigButton">
                        Play
                    </button>
                </div>
            </div>
            <div id="rightCol">
                <div class="animMenu" id="socialMenu">
                    <button class="bigButton menuButton" id="social">
                        Social
                    </button>
                    <div class="infoMenu"></div>
                </div>
            </div>
        </div>

        <img src="../images/logo/sword.svg" alt="logo" id="sword" class="svg" />
        <img src="../images/logo/logo.svg" alt="logo" id="logo" class="svg" />

        <script src="../js/page.js"></script>
    </body>
</html>
